html {
    zoom: 125%;
}

body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 21px;
    margin: 0;
    font-weight: 300; 
    background-color: #D9D0DE;
}

img {
    border-radius: 50%;
}

.container {
    width: 570px;
    margin: 0 auto;
}

h1 {
    font-weight: normal;
    font-size: 60px;
    margin-top: 0;
}

h2 {
    font-weight: normal;
    font-size: 42px;
    margin-top: 0;

    border-top: solid 1px #c4c4c4;
    border-bottom: solid 1px #c4c4c4;
    
    padding: 20px 0;
    margin-bottom: 20px;
}

h3 {
    font-size: 36px;
    margin-bottom: 0;
}

.accent-text {
    display: block;
}

h1 .accent-text {
    font-size: 80px;
}

h2 .accent-text {
    font-size: 60px;
}

.accent-text,
.name,
time {
    font-weight: bold;
    color: #32908F;
}

p {
    margin-bottom: 0;
}

#read-more-or-less {
    color: #32908F;
    font-weight: bold;
    text-decoration: underline;
    background: none;
    border: none;
}

#read-more-or-less:hover,
#read-more-or-less:focus {
    color: #114b4b;
}

.small-text {
    font-size: 16px;
    margin-top: 5px;
} 

header, section {
    padding: 100px 0;
}

.dark-theme {
    color: whitesmoke;
    background: #171A21;
}

.btn {
    display: inline-block;
    color: #252525;
    text-decoration: none;
    background: #32908F;
    padding: 10px 25px;
    margin-top: 25px;
    border-radius: 6px;
}

.btn:hover,
.btn:focus {
    background: #171A21;
    color: whitesmoke;
}